:root {
  
  &[data-bs-theme="dark"] {
    --bs-body-bg: #334;
  }

  &[data-bs-theme="light"] {
    --bs-body-bg: #fffffa;
  }
}

body {
  /* desactivar la selección de texto */
  user-select: none;
}

input {
  user-select: text;
}

/* fix task text overflow */
.dashboard-content {
  min-width: 450px;
}

#task-list {
  & ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  & li {
    padding-left: 5px;

    & .task-status-done {
      text-decoration: line-through;
      font-style: italic;
    }
    &:has(.task-status-done) {
      opacity: 0.6;

      & .card {
        border-style: dashed;
      }
    }

    &.task-priority-0 {
      & .card {
        border-left: 5px solid #777;
      }
    }

    &.task-priority-1 {
      & .card {
        border-left: 5px solid #770;
      }
    }

    &.task-priority-2 {
      & .card {
        border-left: 5px solid #a20;
      }
    }
  }

  & .card {
    transition: background-color 0.3s;
    transition: transform 0.3s;

    & button {
      opacity: 0;
      transition: opacity 0.3s;
    }

    &:hover {
      background-color: #0001;
      box-shadow: 0 2px 2px 0 #0007;
      transform: scale(1.01);

      & button {
        opacity: 1;
      }
    }
  }
}

#side-nav {
  --td-nav-w: 350px;
  width: var(--td-nav-w);
  min-width: var(--td-nav-w);
  background-color: color-mix(in srgb, var(--bs-body-bg), black 5%);
}

#btn-open-sidebar,
#btn-close-sidebar {
  visibility: hidden;
}

@media (max-width: 767px) {
  #side-nav {
    margin-right: calc(var(--td-nav-w) * -1);
    position: absolute;
    right: 0;
    min-height: 100vh;
    z-index: 1;
    transition: margin-right 0.3s;

    &.active {
      margin-right: 0px;
    }
  }

  #btn-open-sidebar,
  #btn-close-sidebar {
    visibility: visible;
  }
}
